.input {
  height: 36px;
  width: 200px;
  text-indent: 10px;
}

.column {
  float: left;
  width: 25%;
}

#form-button {
  height: 42px;
}
/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
